.contact {
	& &__title {
		font: {
			size: 2rem;
			weight: 500;
		}
		text-transform: uppercase;
	}
	& &__title + &__content {
		margin-top: 2rem;
	}
	&__list > &__item {
		display: flex;
		align-items: center;
		.icon {
			flex: 0 0 3rem;
		}
		span {
			flex-grow: 1;
		}
	}
	&__list > &__item + &__item {
		margin-top: 1rem;
	}
	.social-network.custom {
		text-align: center;
		justify-content: center;
		@include for-size(992) {
			flex-direction: column;
		}
		.social-network__item + .social-network__item {
			@include for-size(992) {
				margin-left: 0;
				margin-top: 3px;
			}
		}
	}
	&__component {
		> .row > [class*="col-"] {
			@include for-size(767) {
				margin-top: 3rem;
				&:nth-child(-n + 1) {
					margin-top: 0;
				}
			}
		}
	}
}