.contact {
	& &__title {
		font: {
			size: 2rem;
			weight: 500;
		}
		text-transform: uppercase;
	}
	& &__title + &__content {
		margin-top: 2rem;
	}
	&__list > &__item {
		display: flex;
		align-items: center;
		.icon {
			flex: 0 0 3rem;
		}
		span {
			flex-grow: 1;
		}
	}
	&__list > &__item + &__item {
		margin-top: 1rem;
	}
	.social-network.custom {
		text-align: center;
		flex-direction: column;
		.social-network__item + .social-network__item {
			margin-left: 0;
			margin-top: 3px;
		}
	}
}