section.section-strengths.section
	.container
		.section__head
			h3.section__title Thế mạnh
			.section__decor
				i.far.fa-heart
		.section__content
			.skill__component
				.skill__item
					.skill__run.skill__html(data-percent='100%')
						span.skill__text Html
						span.skill__percent 100%
				.skill__item
					.skill__run.skill__css(data-percent='80%')
						span.skill__text Css
						span.skill__percent 80%
				.skill__item
					.skill__run.skill__js(data-percent='87%')
						span.skill__text Javascript
						span.skill__percent 87%
				.skill__item
					.skill__run.skill__jquery(data-percent='75%')
						span.skill__text Jquery
						span.skill__percent 75%
				.skill__item
					.skill__run.skill__php(data-percent='20%')
						span.skill__text Php
						span.skill__percent 20%
				.skill__item
					.skill__run.skill__sql(data-percent='10%')
						span.skill__text Sql
						span.skill__percent 10%