section.section-statistical.section
	.container
		.section__head.wow.bounceInUp(data-wow-offset='150')
			h3.section__title Một số thống kê
			.section__decor
				i.far.fa-heart
		.section__content.counter__component
			.row
				.col-3
					.counter__item.wow.bounceInUp(data-count='20', data-speed='20000', data-wow-delay='1s', data-wow-offset='30')
						i.counter__icon.far.fa-clock
						p.counter__number 20
						p.counter__name Khoá học miễn phí
				.col-3
					.counter__item.wow.bounceInUp(data-count='25', data-speed='25000', data-wow-delay='1.5s', data-wow-offset='30')
						i.counter__icon.fas.fa-user-friends
						p.counter__number 25
						p.counter__name Khoá học thực tế
				.col-3
					.counter__item.wow.bounceInUp(data-count='47000', data-speed='100000', data-wow-delay='1s', data-wow-offset='30')
						i.counter__icon.fas.fa-rocket
						p.counter__number 47000
						p.counter__name Thành viên đăng ký
				.col-3
					.counter__item.wow.bounceInUp(data-count='13000', data-speed='100000', data-wow-delay='1.5s', data-wow-offset='30')
						i.counter__icon.fas.fa-trophy
						p.counter__number 13000
						p.counter__name Theo dõi kênh youtube