section.section-slider
	.comp-slider(data-slidesToShow="1", data-slidesToScroll="1",data-arrows="0", data-dots="1").comp-slider__custom
		.slider-item
			figure.slider-item__image
				img.slider-item__photo(src='./assets/images/section-slider/01.jpg', alt='banner')
			.slider-item__content
				h2
					| Học lập trình 
					span MyClass.vn!
				h3
					span /học thực tế
					|  thành nghề
				p.slider-item__des Tận tâm là tiêu chí của chúng tôi
			.slider-item__social-network
				ul.social-network
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-twitter
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-facebook-f
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-google
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-dribbble
		.slider-item
			figure.slider-item__image
				img.slider-item__photo(src='./assets/images/section-slider/02.jpg', alt='banner')
			.slider-item__content
				h2
					| Học lập trình 
					span MyClass.vn!
				h3
					span /học thực tế
					|  thành nghề
				p.slider-item__des Tận tâm là tiêu chí của chúng tôi
			.slider-item__social-network
				ul.social-network
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-twitter
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-facebook-f
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-google
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-dribbble
		.slider-item
			figure.slider-item__image
				img.slider-item__photo(src='./assets/images/section-slider/03.jpg', alt='banner')
			.slider-item__content
				h2
					| Học lập trình 
					span MyClass.vn!
				h3
					span /học thực tế
					|  thành nghề
				p.slider-item__des Tận tâm là tiêu chí của chúng tôi
			.slider-item__social-network
				ul.social-network
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-twitter
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-facebook-f
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-google
					li.social-network__item
						a.social-network__link(href='#')
							i.icon.fab.fa-dribbble
