section.section-team.section#team
	.container
		.section__head.wow.bounceInUp(data-wow-offset='150')
			h3.section__title Myclass.vn team
			.section__decor
				i.far.fa-heart
			p.section__des Đội ngũ GV trẻ, nhiệt tình, tận tâm trong từng bài giảng. Hỗ trợ nhiệt tình trong quá trình học, hỗ trợ facebook group, skype, teamviewer...
		.section__content
			.team__list.row.comp-slider.wow.fadeIn(data-slidesToShow="4", data-slidesToScroll="3",data-arrows="0", data-dots="1", data-wow-delay='1s')
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-1.png', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') John Filmr Doe
							p.team__des Managing Director
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-2.png', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') Chystine Hineu
							p.team__des Lead Designer
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-3.png', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') Martin Matrone
							p.team__des Lead Developer
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-4.png', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') Steve Flaulkin
							p.team__des Sr. UI Designer
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-5.jpg', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') Steve Flaulkin
							p.team__des Sr. UI Designer
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-6.jpg', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') Steve Flaulkin
							p.team__des Sr. UI Designer
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-7.jpg', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') Steve Flaulkin
							p.team__des Sr. UI Designer
				.col-3
					.team__item
						figure.team__image
							img(src='./assets/images/section-team/member-8.jpg', alt='member 01')
							figcaption.team__social
								ul.social-network.custom
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-twitter
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-facebook-f
									li.social-network__item
										a.social-network__link(href='#')
											i.icon.fab.fa-google
						.team__info
							h3.team__name
								a.team__link(href='#') Steve Flaulkin
							p.team__des Sr. UI Designer