section.section-projects.section#project
	.container
		.section__head.wow.bounceIn(data-wow-offset='150')
			h3.section__title Dự án
			.section__decor
				i.far.fa-heart
			p.section__des Một số demo mẫu cho dự án mà MyClass.vn đã thực hiện cho các khách hàng.
	.projects__component
		.button__component.wow.bounceInUp
			.container
				.button__list
					button.button__item.active(type='button', data-filter='*') Tất cả
					button.button__item(type='button', data-filter='.trademark') Thương hiệu
					button.button__item(type='button', data-filter='.web') Web
					button.button__item(type='button', data-filter='.design') Thiết kế
					button.button__item(type='button', data-filter='.picture') Chụp hình
		.filter__component
			.filter__item.trademark.design.wow.fadeInLeft(data-wow-delay='0.5s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-1.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P1. My project 1
			.filter__item.web.wow.fadeInLeft(data-wow-delay='0.3s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-2.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P2. My project 2
			.filter__item.trademark.picture.design.wow.fadeInRight(data-wow-delay='0.3s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-3.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P3. My project 3
			.filter__item.web.wow.fadeInRight(data-wow-delay='0.5s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-4.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P4. My project 4
			.filter__item.trademark.wow.fadeInLeft(data-wow-delay='0.5s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-5.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P5. My project 5
			.filter__item.web.picture.wow.fadeInLeft(data-wow-delay='0.3s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-6.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P6. My project 6
			.filter__item.picture.web.wow.fadeInRight(data-wow-delay='0.3s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-7.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P7. My project 7
			.filter__item.design.wow.fadeInRight(data-wow-delay='0.5s')
				.filter__box
					.filter__image
						a.link(href='#')
							img(src='./assets/images/section-projects/item-8.jpg', alt='project 1')
					.hover-line-x
					.hover-line-y
					span.text Live preview
				h3.filter__title
					a.filter__link(href='#') P8. My project 8