section.section.section-introduce#introduce
	.container
		.section__head.wow.fadeInUp
			h3.section__title Giới thiệu
			.section__decor
				i.far.fa-heart
		.section__content
			.row.slider__introduce.comp-slider(data-slidesToShow="3", data-slidesToScroll="2",data-arrows="0", data-dots="1")
				.col-4
					.intro__item.wow.fadeInUp
						.intro__icon
							i.icon.fas.fa-feather-alt
						.intro__content
							h4.intro__title
								a.intro__link(href='#') Học lập trình
							p.intro__des Chúng tôi tâm huyết tạo ra hệ thống Học lập trình trực tuyến MyClass.vn nhằm hỗ trợ phát triển cho nền CNTT nước nhà.
				.col-4
					.intro__item.wow.fadeInUp(data-wow-delay='0.5s')
						.intro__icon
							i.icon.fas.fa-pencil-alt
						.intro__content
							h4.intro__title
								a.intro__link(href='#') Gia công phần mềm
							p.intro__des Chúng tôi nhận gia công các hệ thống phần mềm trong và ngoài nước.
				.col-4
					.intro__item.wow.fadeInUp(data-wow-delay='1s')
						.intro__icon
							i.icon.fas.fa-bullhorn
						.intro__content
							h4.intro__title
								a.intro__link(href='#') Giải pháp
							p.intro__des Chúng tôi cung cấp các giải pháp phần mềm cho các doanh nghiệp. Xây dựng hệ thống bệnh viện trực tuyến, hệ thống phòng khám nha khoa trực tuyến.
				.col-4
					.intro__item
						.intro__icon
							i.icon.fas.fa-eye
						.intro__content
							h4.intro__title
								a.intro__link(href='#') Kỹ năng
							p.intro__des Chúng tôi chia sẻ những kỹ năng có ích cho mọi người, rèn luyện mọi người để cho mọi người đạt được mục tiêu như mong muốn.
				.col-4
					.intro__item
						.intro__icon
							i.icon.fas.fa-question
						.intro__content
							h4.intro__title
								a.intro__link(href='#') Hỏi đáp và tư vấn
							p.intro__des Chúng tôi sẽ giải quyết các thắc mắc mà bạn mong muốn được giải đáp.
				.col-4
					.intro__item
						.intro__icon
							i.icon.fas.fa-info
						.intro__content
							h4.intro__title
								a.intro__link(href='#') Thông tin
							p.intro__des Chúng tôi có những chuyên hàng đầu trong lĩnh vực công nghệ thông tin.


