// FONT
	$font: 'Roboto', sans-serif;
// COLORS
	$color-01: #fff;
	$color-02: #0feb9e;
	$color-03: #062033;
	$color-04: #ccc;
	$color-05: #000;
	$color-06: #f2f2f3;
	$color-07: #ea8564;
	$color-08: #196ad4;
	$color-09: #eede20;
	$color-10: #67a2ef;
	$color-11: #608dc8;
	$color-12: #70b312;
	$color-13: #404040;
	$color-14: #ed431d;