doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title MyClass

		//- FONT ROBOTO
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet')


		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel='stylesheet', href='./assets/scss/styles.css')
	body
		
		header#header
			!= partial('./_includes/header/header.jade')
		
		main#wrapper-content
			!= yield

		footer#footer
			!= partial('./_includes/footer/footer.jade')

		script(src='https://code.jquery.com/jquery-3.4.0.min.js', integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=', crossorigin='anonymous')
		script(src='./assets/js/main.js')

