doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title MyClass

		//- FONT ROBOTO
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700', rel='stylesheet')
		//- BOOTSTRAP
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		//- SLICK SLIDER
		link(rel='stylesheet', type='text/css', href='./assets/libs/slick/slick.css')
		link(rel='stylesheet', type='text/css', href='./assets/libs/slick/slick-theme.css')
		//- FONT AWESOME
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		//- ANIMATE CSS
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css')
		//- STYLES
		link(rel='stylesheet', href='./assets/scss/styles.css')
	body
		
		header#header.navigation
			!= partial('./_includes/header/header.jade')
		
		main#wrapper-content
			!= yield

		footer#footer
			!= partial('./_includes/footer/footer.jade')

		script(src='https://code.jquery.com/jquery-3.4.0.min.js', integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
		script(src='./assets/libs/slick/slick.min.js')
		script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
		script(src='./assets/libs/parallax/jquery.parallax-1.1.3.js')
		script.
			function myMap() {
				var mCenter = new google.maps.LatLng(10.8657395,106.6186103);

				var mapProp = {
					center: mCenter,
					zoom: 17
				};
				var map = new google.maps.Map(document.getElementById("map"), mapProp);
				var marker = new google.maps.Marker({
					position: mCenter,
					animation: google.maps.Animation.BOUNCE
				});
				marker.setMap(map);
			}
		script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC9YbLsDrxZleqGkObr8YcDoogGBM-3LW0&callback=myMap')
		script(src='./assets/libs/wow/wow.min.js')
		script.
			new WOW().init();
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.9/SmoothScroll.min.js')
		//- script.
		//- 	SmoothScroll({ stepSize: 50 })
		script(src='./assets/js/main.js')

