.container
	.row
		.col-lg-12
			nav.navbar.navbar-expand-lg.navbar-light
				a.navbar-brand(href='#') Myclass.vn
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu', aria-controls='menu', aria-expanded='false', aria-label='navigation')
					span.navbar-toggler-icon
				.collapse.navbar-collapse#menu
					ul.navbar-nav.ml-auto
						li.nav-item.active
							a.nav-link(href='#') Trang chủ
						li.nav-item
							a.nav-link(href='#') Giới thiệu
						li.nav-item
							a.nav-link(href='#') Dự án
						li.nav-item
							a.nav-link(href='#') Đội ngũ
						li.nav-item
							a.nav-link(href='#') Liên hệ

			