.container
	.footer
		.row
			.col-3
				.widget__box
					h4.widget__title Giới thiệu
					.widget__content
						p.widget__intro Hệ thống khoá học lập trình Myclass.vn
			.col-3
				.widget__box
					h4.widget__title Đăng ký
					.widget__content
						form(action='', method='')
							.form-group
								input(type='email', required)
								button(type='submit')
									i.fas.fa-arrow-right
			.col-3
				.widget__box
					h4.widget__title Khám phá
					.widget__content
						ul.widget__list
							li.widget__item
								a.widget__link(href='#') Facebok
							li.widget__item
								a.widget__link(href='#') Flickr
							li.widget__item
								a.widget__link(href='#') Google
							li.widget__item
								a.widget__link(href='#') Forum
			.col-3
				.widget__box
					h4.widget__title Hỗ trợ
					.widget__content
						ul.widget__list
							li.widget__item
								a.widget__link(href='#') Liên hệ
							li.widget__item
								a.widget__link(href='#') Tìm việc
							li.widget__item
								a.widget__link(href='#') Hỗ trợ
							li.widget__item
								a.widget__link(href='#') Thông tin
	p.copyright
		| Copyright © 2015 MyClass.vn. Học lập trình trực tuyến tại 
		a.link(href='#') Myclass.vn