@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/bases";

@import "./components/navigation";
@import "./components/slider";
@import "./components/social-network";
@import "./libs/custome-slick";

@import "./components/section";
@import "./components/intro";

@import "./components/general";
@import "./components/button";

@import "./components/filter";

@import "./components/skill";
@import "./components/team";

@import "./components/counter";
#wrapper-content {
	margin-bottom: 200px;
}
